/*  Standard Colors:
    Orange:#f26522
    Dark Gray:#282421;
*/

/* General Settings */
body{
    margin:0;
    padding:0;
}

*::selection{
    background-color:#f26522;
    color:#fff;
}

select{
    background-color:#fff;
}

input:focus, select:focus{
    outline:none;
    box-shadow:1px 1px 0.25rem #f26522;
}

/* Initial CSS (Set For Mobile Screens) */
.container{
    margin:0 auto;
    width:100%;
}

.header{
    width:100%;
    height:4rem;
    background-color:#282421;
    color:#fff;
    display:flex;
    align-items:center;
    position:fixed;
    top:0;
    box-shadow:0 1px 0.5rem #000;
    z-index:2;
}

.header img, .header .header-title{
    padding:0.5rem 0.375rem;
}

.header-title{
    font-size:1.75rem;
    font-family:'Montserrat', sans-serif;
    font-weight:700;
}

.header-logo {
    width:100%;
    max-width:2.2rem;
}

.tagline-box{
    background-size:cover;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:1rem;
    margin-top:3.8rem;
    color:#fff;
}

.tagline-logo {
    width:6rem;
}

.tagline-title{
    font-size:1.75rem;
    font-family:'Montserrat', sans-serif;
    font-weight:700;
    margin:0.25rem 0;
    text-shadow: 1px 1px 0.5rem #000;
}

.tagline-text{
    font-family:'Raleway', sans-serif;
    font-weight:400;
    font-size:1rem;
    text-align:center;
    text-shadow: 1px 1px 0.5rem #000;
}

.search-box{
    margin:0.75rem auto 0;
    width:86%;
    min-width:14rem;
    max-width:30rem;
    border:3px solid #f26522;
    display:flex;
    flex-direction:column;
    border-radius:0.5rem;
    background-color:#fff;
}

.search-header{
    border-radius:0.25rem 0.25rem 0 0;
    background-color:#f26522;
    width:100%;
    padding:0.375rem 0;
}

.search-header span{
    margin-left:0.75rem;
    color:#fff;
    font-size:1.25rem;
    font-family:'Montserrat', sans-serif;
    font-weight:700;
}

.search-inputs{
    padding:0.75rem 0;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.input-field{
    font-family:'Raleway', sans-serif;
    font-size:1.25rem;
    width:90%;
    margin:0.25rem auto;
    padding:0.375rem 0.0625rem;
    border:1px solid #f26522;
    color:#f26522;
}

.input-field::placeholder{
    color:#f26522;
}

.btn:hover{
    border-radius:0.5rem;
}

#search-btn{
    display:flex;
    align-content:center;
    justify-content:center;
    width:30%;
    min-width:2rem;
    max-width:6em;
    margin:0 auto 1rem;
    background-color:#f26522;
    border:none;
    border-radius:0.25rem;
    color:#fff;
    font-size:1.75rem;
}

.button-logo {
    width:20%;
    padding:0.25em 0;
}

.results-box{
    width:86%;
    max-width:30rem;
    margin:0.75rem auto 1.5rem;
    transform:scale(0);	
    animation-duration: 1.25s;	
    animation-iteration-count: 1;	
    animation-fill-mode:forwards;
    flex-direction: column;
}

.results-header{
    border-radius:0.25rem 0.25rem 0 0;
    background-color:#f26522;
    width:100%;
    padding:0.375rem 0;
}

.results-header span{
    margin-left:0.75rem;
    color:#fff;
    font-size:1.25rem;
    font-family:'Montserrat', sans-serif;
    font-weight:700;
}

.results-main{
    width:100%;
    display:flex;
    flex-direction:column;
    margin:0 auto;
    border:3px solid #f26522;
    border-radius:0.5rem;
    background-color:white;
}

.main-head{
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    text-align:center;
    margin:0.25rem 0 0 0;
    padding:0.5rem;
}

.main-head div {
    margin:0.25rem;
}

.main-head-image{
    display:flex;
    align-self:center;
}

.main-head-image img{
    border-radius:0.375rem;
    height:12rem;
    width:12rem;
}

.main-head-details{
    margin:0 auto;
    display:flex;
    flex-direction:column;
}

.result-name, .result-site{
    font-family:'Montserrat', sans-serif;
    font-weight:700;
}

.result-name{
    font-size:1.125rem;
}

.result-site{
    font-size:0.875rem;
}

.result-add{
    font-family:'Raleway', sans-serif;
    font-weight:400;
}

.result-name, .result-site, .result-add{
    margin-bottom:0.375rem;
}

.main-score{
    font-size:1.125rem;
    color:#f26522;
    font-family:sans-serif;
}

#visit-btn{
    margin:0 auto 0.5rem;
    color:#fff;
    background-color:#f26522;
    border:none;
    border-radius:0.25rem;
    padding:0.25rem 1.25rem;
    font-family:'Montserrat', sans-serif;
    font-weight:700;
    font-size:1.5rem;
}

.main-body{
    width:95%;
    margin:0 auto;
}

.m-body-row{
    display:flex;
    justify-content:space-between;
    margin:1.25rem 0;
}

.m-body-h1{
    font-family:'Montserrat', sans-serif;
    font-weight:700;
}

.m-body-p{
    font-family:'Raleway', sans-serif;
    font-weight:400;
}

.results-review{
    width:82%;
    margin:0 auto;
    border:3px solid #f26522;
    border-radius:0 0 0.5rem 0.5rem;
    display:flex;
    flex-direction:column;
}

.review-header{
    background-color:#f26522;
    width:100%;
    padding:0.375rem 0;
}

.review-header span{
    color:#fff;
    font-family:'Montserrat', sans-serif;
    font-weight:500;
    font-size:0.875rem;
    margin-left:0.5rem;
}

.review-body{
    display:flex;
    flex-direction:column;
    border-radius:0 0 0.375rem 0.375rem;
    align-items:center;
    background-color:white;
    animation-duration: 0.3s;	
    animation-iteration-count: 1;	
    animation-fill-mode:forwards;
}

.review-text{
    font-family:'Raleway', sans-serif;
    text-align:center;
    margin:1rem 0.5rem;
}

.review-username{
    font-family:'Montserrat', sans-serif;
    font-weight:700;
    font-size:1rem;
}

.review-score{
    color:#f26522;
    margin-bottom:0.625rem;
    font-size:1.25rem;
    font-family:sans-serif;
}

.footer{
    background-color:#282421;
    text-align:center;
    padding:1.5rem 0;
    bottom:0;
    width:100%;
    position:absolute;
}

.footer span{
    color:#fff;
    font-family:'Montserrat', sans-serif;
    font-weight:500;
}

/* Animations */
@keyframes grow{	
    0%{transform:scale(0)}	
    50%{transform:scale(0.875)}	
    75%{transform:scale(0.75)}	
    100%{transform:scale(1)}	
}

/* Responsive Media Queries */

@media (min-width:40rem){ /* CSS for Tablet Screens*/
    .page-body{
        background-size:cover;
    }

    .main-content{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
    }

    .main-head{
        flex-direction:row;
    }

    .search-box, .results-box{
        margin:1rem;
        max-width:45rem;
    }

    .tagline-box{
        background:none;
        width:80%;
        margin:4rem auto 1rem;
    }

    .tagline-logo{
        margin-top:0.75rem;
        width:9rem;
    }

    .tagline-title{
        font-size:2.5rem;
    }

    .tagline-text{
        font-size:1.25rem;
        line-height: 1.75rem;
    }

    .search-header span{
        font-size:1.75rem;
    }

    select{
        height:2.25rem;
    }

    .results-header span{
        font-size:1.5rem;
    }
    
    .main-head-image img{
        height:10rem;
        width:10rem;
    }

    .result-name{
        font-size:1.75rem;
    }

    .result-site{
        font-size:1rem;
    }

    .result-add{
        font-size:1.125rem;
    }

    .main-score{
        font-size:1.5rem;
    }

    .m-body-row{
        margin:1.75rem 0;
    }

    .m-body-h1, .m-body-p{
        font-size:1.25rem;
    }

    .footer{
        position:static;
    }
}

@media screen and (min-width:64rem){ /* CSS for Desktop Screens */
    .page-body{
        padding-bottom:3.5rem;
    }

    .main-content {
        flex-direction:row;
    }

    .tagline-box{
        width:60%;
        margin:4rem auto 1rem;
    }

    .tagline-logo{
        width:8rem;
    }

    .tagline-title{
        font-size:3rem;
    }

    .tagline-text{
        font-size:1.25rem;
    }

    .search-box{
        max-width:25%;
    }
    .search-header span{
        font-size:1.5rem;
    }

    .input-field{
        width:85%;
        font-size:1rem;
    }

    select{
        height:2rem;
    }

    #search-btn{
        max-width:10rem;
    }

    .results-box{
        max-width:45rem;
        display:flex;
        flex-direction:row;
    }

    .results-main{
        width:60rem;
        border-radius: 0.5rem 0 0.5rem 0.5rem;
    }

    .results-header{
        border-top-right-radius: 0;
    }

    .results-header span{
        font-size:1.5rem;
    }

    .main-head-image img{
        height:9rem;
        width:9rem;
    }

    .result-name{
        font-size:1.25rem;
    }

    .result-site{
        font-size:0.875rem;
    }

    .result-add{
        font-size:1rem;
    }

    .main-score{
        font-size:1.25rem;
    }

    .m-body-row{
        margin:1.25rem 0;
    }

    .m-body-h1, .m-body-p{
        font-size:1.125rem;
    }
    
    .results-review{
        border-radius:0 0.5rem 0.5rem 0;
        height:50%;
        max-height:90%;
        position:relative;
        right:0.125rem;
    }

    .review-header span{
        font-size:1.5rem;
        font-weight:700;
        text-transform:uppercase;
    }

    .review-body{
        height:100%;
        border-bottom-left-radius:0;
    }

    #visit-btn{
        font-size:1.25rem;
        margin-bottom:1rem;
    }
}

@media screen and (min-width:84rem){
    body{
        background:#282421;
    }
}

@media screen and (min-width:40rem) and (min-height:46rem){
    .page-body{
        height:90vh;
    }
}

@media screen and (min-width:64rem) and (min-height:42rem){
    .page-body{
        height:85vh;
    }

    .footer{
        position:static;
    }
}